@import './styles/animations.css';
@tailwind base;
@custom-variant dark (&:is(.dark *));
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #e5e5e5;
    --foreground: #333333;
    --card: #f5f5f5;
    --card-foreground: #1a1a1a;
    --popover: #f5f5f5;
    --popover-foreground: #1a1a1a;
    --primary: #008080;
    --primary-foreground: #ffffff;
    --secondary: #00a8a8;
    --secondary-foreground: #1a1a1a;
    --muted: #d1d1d1;
    --muted-foreground: #6b7280;
    --accent: #005f5f;
    --accent-foreground: #ffffff;
    --destructive: #f84343;
    --destructive-foreground: #ffffff;
    --border: #c7c7c7;
    --input: #c7c7c7;
    --ring: #008080;
    --radius: 0.4rem;
  }

  .dark {
    --background: #121212;
    --foreground: #e0e0e0;
    --card: #1e1e1e;
    --card-foreground: #e0e0e0;
    --popover: #1e1e1e;
    --popover-foreground: #e0e0e0;
    --primary: #008080;
    --primary-foreground: #ffffff;
    --secondary: #00a8a8;
    --secondary-foreground: #e0e0e0;
    --muted: #2d2d2d;
    --muted-foreground: #cacacb;
    --accent: #005f5f;
    --accent-foreground: #ffffff;
    --destructive: #f84343;
    --destructive-foreground: #ffffff;
    --border: #3f3f3f;
    --input: #3f3f3f;
    --ring: #008080;
    --radius: 0.4rem;
  }
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--muted);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 10px;
  border: 3px solid var(--muted);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
@layer utilities {
  @keyframes scrollLeftToRight {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-scroll {
    animation: scrollLeftToRight 45s linear infinite;
  }
}

@theme inline {
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
